@model IEnumerable<Website.Models.Product>
@{
    ViewData["Title"] = "Liste des produits";
}
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="mb-3 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary">
            Créer un produit
        </a>
    </div>
}
<div class="card-group">
    @foreach (var product in Model)
    {
        var photoPath = Url.Content("~/images/" + (product.Image ?? "noimage.jpg"));
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h5><b>Nom : </b> @product.Name</h5>
                <h5><b>Prix : </b>@product.Price</h5>
                <h5><b>Quantité : </b> @product.QteStock</h5>
                <!--Afficher le nom de la catégorie-->
                <h5><b>Catégorie : @product.Category.CategoryName </b></h5>
            </div>
            <!-- Ajout de la classe pour contrôler la taille des images -->
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId"
                   class="btn btn-primary m-1">View</a>
                <a asp-controller="Panier" asp-action="AddProduct" class="btn btn-outline-secondary" asp-route-id="@product.ProductId">Ajouter Au Panier</a>
            </div>
        </div>
    }
</div>
<div class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-page="@i" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary m-1 @(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
    }
</div>